table
{
    border-collapse: separate !important;
}

td, th
{
    border: 1px solid #ff0000 !important;
}

table table td, table table th
{
    border-color: #00ff00 !important;
}

table table table td, table table table th
{
    border-color: #0000ff !important;
}

table table table table td, table table table table th
{
    border-color: #ff0000 !important;
}

table table table table table td, table table table table table th
{
    border-color: #00ff00 !important;
}

table table table table table table td, table table table table table table th
{
    border-color: #0000ff !important;
}
